@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Spectral');

.wrapper{
	width: 100%;
	float: left;
	height: 30%;
	border: 4px solid #f2efe8;
}
#logo{
	width: 25%;
	height: 10%;
	float: left;
}
#Quote{
	width:100%;
	float:left;
	margin-left: 5%;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
    white-space: nowrap;
}
#microphone_op{
	float: right;
	height: 50px;
	width: 100px;
	position: relative;
	margin-left: 60%;
}
#links{
	float: right;
	list-style-type: none;
	
}
ol li {
    background: #dbe9d8;
    margin-left: 35px;
    list-style-type: none;
}
a:link , a:visited,a:hover, a:active {
    text-decoration: none;
    display: inline-block;
    padding: 14px 25px;
    color: grey
  
}

.Top_Categories{
            margin-left: auto;
            margin-right: auto;
            height: 50%;
            width:100%;
}
.search{
	        margin-left: auto;
            margin-right: auto;
            width:100%;
            height: 10%;
            background-color: #dbe9d8;
            position: relative;
            float: left;
           
}
#searhBar{
	width: 100%;
	height: 10%;
	margin-left: 2%;
	float: left;
	font-family: 'Spectral', serif;
	font-size: 20px;
}
#searchBoxes{
	width: 100%;
	margin-left: 3%;
    font-family: 'Spectral', serif;
	font-size: 20px;
}
input[type=text], select {
    width: 50%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 50%;
    background-color: #b0aac2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#top_cat1{
	width: 49%;
	height:40%;
	background-color:#dbe9d8;
	float: left;
	white-space: nowrap;
	
}
#top_cat2{
	width: 49%;
	height: 40%;
	background-color: #c2d4d8;
	float:right;
	white-space: nowrap;
	
}
#heading{
	font-family: 'Spectral', serif;
	text-align: center;
	width:100%;
}
#top_cat3{
	width: 49%;
	height: 40%;
	background-color: #b0aac2;
	float: left;
	white-space: nowrap;
}
#top_cat4{
    width: 49%;
	height: 40%;
	background-color: #dbe9d8;
	float: right;
	white-space: nowrap;
	text-color: white;
}
#link4{}
.animal_images{
	height:50%;
}
.login{
	background-color: #dbe9d8;
	width: 100%;
	height: 50%;
	position: relative;
	float: left;
}
#heading{
	margin-left: 2%;
	float: left;
}
#heading{
	float: left;
	position: relative;
	font-family: 'Spectral', serif;
	font-size: 16px;
}
.footer{
	width: 100%;
	float: left;
	height: 20%;
	border: 4px solid #f2efe8;
	position: relative;
    bottom: 0px;
    white-space: nowrap;

}
#contact{
	float: right;
	font-family: 'Spectral', serif;
}
#web_links
{
	width: 25%;
	height: 10%;
	float: left;
}


